annotated-types==0.6.0
appnope==0.1.3
brotli==1.0.9
certifi==2022.12.7
charset-normalizer==3.3.0
fitfile==1.1.5
garth==0.4.38
idna==3.4
jsonpickle==3.0.1
MarkupSafe==2.1.3
oauthlib==3.2.2
pickleshare==0.7.5
pydantic==2.4.2
pydantic_core==2.10.1
python-dateutil==2.8.2
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
tqdm==4.65.1
typing_extensions==4.8.0
urllib3==1.26.14
